body {
  background-color: black;
  font-family: monospace;
}

#login{
  text-align: center;
}

#loginHead {
  font-size: xxx-large;
  color: white;
}

#part2{
  position: absolute;
  background-color: #63de00;
  margin-left: 0%;
  margin-right: 50%;
  text-align: left;
  border-radius: 15px 30px;
}
#part1 {
  background-color: #63de00;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  border-radius: 15px 30px;
}
#loggedin {
  color: white;
}
#thingy {
  font-size: x-large;
  font-family: monospace;
}

#generalchat {
  margin-left: 20%;
  margin-right: 20%;
  font-size: x-large;
  font-family: Verdana;
  color: #63de00;
  border-radius: 15px 30px;
  font-family: monospace;
  max-height: 400px;
  overflow: scroll;
}
#chatrooms{
  position: absolute;
  background-color: #63de00;
  right: 5px;
  top: 115px;
  margin-right: 0%;
  text-align: right;
  border-radius: 15px 30px;
}
