body {
  background-color: black;
}

#login{
  text-align: center;
}

#loginHead {
  font-size: xxx-large;
  color: white;
}

#part2{
  position: absolute;
  background-color: cyan;
  margin-left: 0%;
  margin-right: 50%;
  text-align: left;
  border-radius: 15px 30px;
}
#part1 {
  background-color: cyan;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  border-radius: 15px 30px;
}
#loggedin {
  color: white;
}
#thingy {
  font-size: x-large;
  font-family: Verdana;
}

#chat {
  margin-left: 20%;
  margin-right: 20%;
  font-size: x-large;
  font-family: Verdana;
  color: white;
  background-color: Blue;
  border-radius: 15px 30px;
}
